{
    "src_conn": {
        "dbname": "",
        "host": "",
        "user": "",
        "password": ""
    },
    "dst_conn": {
        "dbname": "",
        "host": "",
        "user": "",
        "password": ""
    }
}